body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.container {
    text-align: center;
}

.center-text {
    font-size: 3rem;
    animation: alternateText 2s infinite;
}

@keyframes alternateText {
    0%, 50% { content: "CRY"; }
    51%, 100% { content: "PLEASE"; }
}

#password-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.password {
    font-size: 1.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secret-input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

