body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    position: relative;
}

/* Contenedor para el video de fondo */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-text {
    font-size: 3rem;
    color: #000;  /* Texto en negro */
    margin-bottom: 20px;
}

#link-container {
    margin-top: 20px;
}

#dynamic-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

#dynamic-link:hover {
    text-decoration: underline;
}

#password-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

/* Clase para ocultar elementos */
.hidden {
    display: none !important;  /* Usamos !important para asegurar que no sea anulado */
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secret-input {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #fff;
    text-align: center;
}
